<button class="btn btn-sm btn-info " {{action tableActions.editInvoice row bubbles=false}}>{{fa-icon "pencil-alt"}}</button>
<button class="btn btn-sm btn-danger " {{action tableActions.deleteInvoice row bubbles=false}}>{{fa-icon "trash"}}</button>